@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('ttf'), 
    url('../fonts/Ubuntu-Regular.ttf') format('ttf');
	font-style: normal;
}


body{
    background: url("../img/back.png") no-repeat;
    background-size: cover;
    margin: 0;
}


header nav{
    background-color: rgba(0,0,0,0.6);
    text-align: left;
    padding-top: 22px;
    padding-left: 152px;
    padding-bottom: 19px;
}


header nav > span{
    font-family: ﻿Ubuntu, ﻿sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    transition: all linear 1s;
}


header nav > span:hover{
    color: #01813F;
}


header nav .nav-link{
    display: inline-block;
    float: right;
}


header nav .nav-link a > div {
    display: inline-block;
    margin-right: 28px;
}


header nav .compas{
    width: 20px;
    height: 20px;
	fill: white;

}


header nav .compas:hover{
    width: 20px;
    height: 20px;
	fill: #01813F;
	transition: all linear 0.5s;

}


header nav .letter{
    width: 23px;
    height: 23px;
	fill: white;
}


header nav .letter:hover{
    width: 23px;
    height: 23px;
    fill: #01813F;
	transition: all linear 0.5s;
}


header nav .calendar{
    width: 21px;
    height: 24px;
    fill: white;
}


header nav .calendar:hover{
    width: 21px;
    height: 24px;
    fill: #01813F;
	transition: all linear 0.5s;
}


header nav .welcome-div{
    display: inline-block;
    padding-right: 93px;
    font-family: ﻿Ubuntu, sans-serif;
    font-size: 19px;
    text-align: left;
    color: #fff;
    border-right: 1px #35444f solid;
}


header nav .sign-up,
header nav .log-in{
    color: white;
    
}


header nav .sign-up:hover,
header nav .log-in:hover{
    color: #01813F;
	transition: all linear 0.5s;
}


header nav span a{
    color: inherit;
    text-decoration: none;
}


.main{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    width: 444px;
    height: 600px;
}


.main .green-sq{
    position: relative;
    top: 29px;
    left: -1px;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
}


.main .header-form .header-form-sign_up{
    float: left;
    font-family: Ubuntu, sans-serif;
    font-size: 25px;
    color: rgba(67, 67, 67, 255);
    margin-left: 60px;
    margin-top: 5px;
}


.main .header-form .header-form-login a{
    text-decoration: none;
    color: inherit;
}


.main .header-form .header-form-login{
    float: right;
    font-family: ﻿Ubuntu, sans-serif;
    font-size: 14px;
    color: rgba(60, 184, 120, 255);
    margin-right: 59px;
    margin-top: 15px;
    border-bottom: 1px solid transparent;
    transition: all linear 1s;
}


.main .header-form .header-form-login:hover{
    border-color: #3cb878;
}


.main .buttons{
    clear: both;
    margin-left: 58px;
}


.main .buttons > div{
    display: inline-block;
}


.main button{
    color: white;
    border: none;
    border-radius: 5px;
    width: 157px;
    height: 46px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
}


.main .btn-fb > button{
    background-color: #305db8;
    transition: all linear 0.5s;
 }
 
 
.main .btn-g > button{
    background-color: #df4a32;
    transition: all linear 0.5s;
}


.main .btn-fb > button:hover{
    background-color: #264b96;
}


.main .btn-g > button:hover{
    background-color: #c3412c;
}


.main .btn-fb .name-btn-fb{
    font-size: 150%;
    font-weight: bold;
    padding-right: 20px;
    border-right: 1px solid #2b54a5;
    vertical-align: middle;
}


.main .btn-fb .full_name-btn-fb{
    padding-left: 5px;
}


.main .btn-g .name-btn-g{
    font-size: 150%;
    font-weight: bold;
    padding-right: 15px;
    vertical-align: middle;
    border-right: 1px solid #c8422d;
}


.main .btn-g .full_name-btn-g{
    padding-left: 10px;
}


.main .line-or{
    margin-top: 20px;
}


.main .line-or > div{
    float: left;
}


.main .line-or div > hr{
    width: 132px;
    color: #eaeaea;
}


.main .line-or .first-line{
    margin-left: 62px;
}


.main .line-or .second-line{
    margin-right: 60px;
}


.main .line-or div > span{
    margin: 19px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    color: rgba(132, 132, 132, 255);
}


.main .main-form form > input[type=text],
.main .main-form form > input[type=email],
.main .main-form form > input[type=password]{
    width: 322px;
    font-family: ﻿Ubuntu, sans-serif;
    font-size: 14px;
    padding: 12px 20px;
    margin-left: 62px;
    margin-top: 17px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


.main .main-form form > input[type=text]:focus,
.main .main-form form > input[type=email]:focus,
.main .main-form form > input[type=password]:focus{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}


.main .main-form form > input[type="checkbox"]:checked,
.main .main-form form > input[type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}


.main .main-form form > input[type="checkbox"]:checked + label,
.main .main-form form > input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    left: 62px;
    top: 20px;
    line-height: 20px;
    cursor: pointer;
}


.main .main-form form > input[type="checkbox"]:checked + label:before,
.main .main-form form > input[type="checkbox"]:not(:checked) + label:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}


.main .main-form form > input[type="checkbox"]:checked + label:before,
.main .main-form form > input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}


.main .main-form form > input[type="checkbox"]:checked + label:after,
.main .main-form form > input[type="checkbox"]:not(:checked) + label:after{
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.main .main-form form > input[type="checkbox"]:checked + label:after,
.main .main-form form > input[type="checkbox"]:not(:checked) + label:after{
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #3cb878;
    border-bottom: 4px solid #3cb878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.main .main-form form > input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}


.main .main-form form > input[type="checkbox"]:checked + label:after{
    opacity: 1;
}


.main .main-form form label{
    font-family: ﻿Ubuntu, sans-serif;
    font-size: 16px;
}


.main .main-form form .cb-agree{
    color: #3cb878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all linear 1s;
}


.main .main-form form .cb-agree:hover{
    border-color: #3cb878;
}


.main .main-form form button{
    color: white;
    border: none;
    border-radius: 5px;
    width: 322px;
    height: 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 45px 62px;
    background-color: #3cb878;
    font-family: ﻿Ubuntu, sans-serif;
    cursor: pointer;
    transition: all linear 0.5s;
}


.main .main-form form button:hover{
    background-color: #329a65;
}